html {
    font-family: 'Noto Sans KR', sans-serif;
}
header {
    width: 1100px;
    height: 170px;
    margin: 0 auto;
    overflow: hidden;
}
body {
    margin: 0;
}

main{
    margin-bottom: 170px;
}

a{
    text-decoration-line: none;
}


.benefit-banner {
    background-color: #5F0080;
    font-size: 14px;
    text-align: center;
    transition: margin 0.4s linear 0s;
    background-color: rgb(95, 0, 128);
}

.bb-container1{
    position: relative;
    width: 1130px;
    margin: 0px auto;
}

.bb-text{
    height: 42px;
    display: block;
    font-size: 14px;
    line-height: 42px;
}
.bb-x-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 42px;
    height: 42px;
    background-color: transparent;
    border: none;
    color: white;
}


.register-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px auto;
    font-size: 13px;
}
.register-row .register{
    padding-right: 10px;
    color: #5F0080;
}

.register-row .seperator{

}

.register-row .login{
    padding-left: 10px;
    color: #5F0080;
}



.logo-row {
    display: flex;
    flex-direction: row;
    margin: 19px auto 10px auto;
}
.logo-row .logo-icon{
    padding-left: 10px;
}

.logo-row .logo-icon img {
    width: 90px;
    height: 45px;
}

.logo-row .market-kurly {
    margin: auto 0 auto 18px;
    font-size: 20px;
    font-weight: 500;
}

.logo-row .seperator{
    margin: auto 0 auto 10px;
    font-size: 18px;
}

.logo-row .beauty-kurly{
    margin: auto 60px auto 10px;
    font-size: 18px;
}

/* 검색 아이콘 */
.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
}

.search {
    margin-right: 160px;
}

.search-form{
    border-radius: 6px;
    padding:10px;
    border: 1px solid #5F0080;
    height: 47px;
    width: 400px;
    padding: 0px;
}
.search-form .search-box{
    font-size: 17px;
    margin: 12px 5px auto 10px;
    width: 340px;
    float: left;
    border: none;
}

.search-form .search-btn{
    border:none;
    cursor: pointer;
    float:right;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 10px;
    margin-right: 6px;
}

/*사이즈*/

.nav3{
    margin: auto 0 auto 30px;
    width: 30px;
    height: 30px;
}

.vertical-uni{
    margin: auto 0;
}





.category-row{
    display: flex;
    flex-direction: row;
    margin: 0;
}
.category-row .category{
    padding-left: 6px;
    margin-right: 150px;
}

.category-btn {
    display: flex;
    flex-direction: row;
    margin-top: 11px;
    width: 130px;
    height: 51px;
    font-size: 17px;
    border: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

.category-btn div{
    padding-right: 8px;
    margin: auto;
    height: 24px;
    font-weight: 500;
}

.ni-font{
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: rgb(51, 51, 51);

}

.ni-margin1{
    margin: auto 0;
    margin-right: 36px;
    width:100px;
}

.special-shipping {
    margin: auto 0 auto 80px;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
}

.product-popup-container1{
    position: fixed;
    z-index: 2;
    inset: 0px;

}

.pp-c2{
    height: 100%;
    outline: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
}

.pp-paper{
    height: 320px   ;
    width: 440px;
    overflow-x: hidden;
    padding: 30px;
    border-radius: 12px;
    box-shadow: none;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    margin: 32px;
}




/*리스트 아이콘*/
.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
}


.main-banner{
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
}

/*상품 컨테이너*/
.product-container1{
    display:flex;
    flex-direction: column;
}

/*상품 리스트*/

.c1-title{
    font-weight: 500;
    font-size: 27px;
    margin-top: 85px;
    margin-bottom: 8px;
    letter-spacing: -0.26px;
    line-height: 1.15;
    color: rgb(51, 51, 51);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.c1-detail{
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.45;
    letter-spacing: -0.2px;
    padding-right: 24px;
}
.c1-icon{
    padding-top: 5px;
}

.product-sub-container1{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 27px;
}
.sc1-product {
    width: 249px;
    display:flex;
    flex-direction: column;
    margin: 0px 8px;
}

.sc1-img {
    width: 249px;
    height: 320px;
}
.sc1-img-d {
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    border-radius: 6px;
}
.sc-btn1{
    border-radius: 4px;
    border: solid 1px #D9D9D9;
    background-color: transparent;

    align-items: center;
    width: 100%;
    justify-content: center;
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 36px;
    margin-top: 6px;
    padding-bottom: 1px;
    font-size: 16px;
    line-height: 29px;
}
.sc-btn1-f{
    font-size: 15px;
}
.sc1-cart{
    width: 20px;
    padding-top: 8px;
    padding-right: 5px;
}
.sc1-title {
    padding-top: 5px;
    padding-bottom: 6px;
    width: 250px;
    height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    letter-spacing: normal;
    word-break: break-word;
    overflow-wrap: break-word;
}

.sc1-ori-price{
    text-decoration:line-through;
}

.sc1-price{
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
}

.sc1-p-percent{
    font-size: 18px;
    font-weight: bold;
    margin-right: 8px;

}

.sc1-p-price{
    font-size: 17px;
    font-weight: bold;

}

.sc1-comment{
    display: flex;
}

.sc1-c-icon{
    margin-right: 4px;
}

.sc1-c-count{
    font-weight: bold;
}

.early-rabbit{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    background-color: #ebebeb;
    padding: 12px 0 8px 0;
    background-color: #f7f7f7;
}

.er-title{
    font-weight: bold;
    margin-right: 5px;
    font-size:14px;
}

.er-since{
    font-size: 12px;
    letter-spacing: -0.2px;
}

.er-detail{
    display: flex;
}

.er-team{
    font-size: 14px;
}

.er-member{
    font-size: 14px;
}

.product-popup-p1 {
    position: fixed;
    z-index: 1300;
    inset: 0px;
}
.product-popup-p2 {
    position: fixed;
    z-index: 1300;
    inset: 0px;
}
.product-popup-p3 {
    position: fixed;
    z-index: 1300;
    inset: 0px;
}
.product-popup-p4 {
    position: fixed;
    z-index: 1300;
    inset: 0px;
}
.product-popip-bg{
    position: fixed;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}



.pp-paper-wrapper1{
    display: flex;
    padding: 5px 0px 12px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid rgb(244, 244, 244);
}

.pp-w1-img{
    width: 50px;
    height: 50px;
}

.pp-w1-title{
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: 2px;
    padding-left: 20px;
}

.pp-w1-t-d{
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    font-size: 15px;
    line-height: 20px;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    white-space: normal;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


.pp-paper-wrapper2{
    padding: 12px 0px;
    border-radius: 3px;
    border-bottom: 1px solid rgb(244, 244, 244);
}

.pp-w2-title{
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    font-size: 15px;
    line-height: 20px;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    white-space: normal;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.pp-w2-detail{
    font-size: 13px;
    line-height: 1.33;
    margin-top: 2px;
    color: rgb(102, 102, 102);
}

.pp-w2-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}

.w2-price{

}

.sale-p{
    font-weight: bold;
    font-size: 14px;
    color: rgb(51, 51, 51);
    line-height: 19px;
}

.ori-p{
    margin-left: 4px;
    font-weight: normal;
    font-size: 12px;
    color: rgb(181, 181, 181);
    text-decoration: line-through;
    line-height: 16px;
    letter-spacing: -0.5px;
}

.pp-paper-wrapper3{
    padding: 14px 0px 20px;
}

.pp-w3-total-price{

}

.pp-w3-price{
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}

.pp-w3-point{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.pp-w3-point-box{
    margin-top: 3px;
    width: 34px;
    height: 23px;
    margin-right: 4px;
    border-radius: 11px;
    background-color: rgb(255, 191, 0);
    font-size: 12px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.5px;
}



.pp-paper-wrapeer4{
    display: flex;
    flex-direction: row;
}

.pp-w4-cancel{
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    height: 56px;
    border-radius: 3px;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    width: 50%;
    margin: 0px 4px;
    margin-left: 0px;
    font-size: 16px;
    font-weight: 500;
}

.pp-w4-basket{
    margin-right: 0px;
    width: 50%;
    margin: 0px 4px;
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    height: 56px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(95, 0, 128);
    border: 0px none;
    font-size: 16px;
    font-weight: 500;
}


.category-box {
    width: 280px;
    height: 648px;
    position: absolute;
}


.category-box .group {
    width: 280px;
    height: 648px;
    /* top: 0; */
    /* left: 0; */
    background-color: white;
}

.category-box .overlap-group {
    position: relative;
    width: 280px;
    height: 648px;
    background-size: 100% 100%;
    border: solid 1px #D9D9D9;
    box-sizing: border-box;
}

.category-box .img1 {
    width: 35px;
    top: 19px;
    left: 17px;
    position: absolute;
    height: 35px;
    object-fit: cover;
}

.category-box .text-wrapper {
    position: absolute;
    width: 196px;
    top: 23px;
    left: 67px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.category-box .div {
    width: 196px;
    top: 74px;
    position: absolute;
    left: 67px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.category-box .text-wrapper-1 {
    width: 196px;
    top: 127px;
    position: absolute;
    left: 67px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.category-box .text-wrapper-2 {
    width: 196px;
    top: 180px;
    position: absolute;
    left: 67px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.category-box .text-wrapper-3 {
    width: 196px;
    top: 233px;
    position: absolute;
    left: 67px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.category-box .text-wrapper-4 {
    width: 196px;
    top: 286px;
    position: absolute;
    left: 67px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.category-box .text-wrapper-5 {
    width: 204px;
    top: 339px;
    position: absolute;
    left: 67px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.category-box .text-wrapper-6 {
    width: 204px;
    top: 392px;
    position: absolute;
    left: 67px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.category-box .text-wrapper-7 {
    width: 204px;
    top: 443px;
    position: absolute;
    left: 67px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.category-box .text-wrapper-8 {
    width: 204px;
    top: 496px;
    position: absolute;
    left: 67px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.category-box .text-wrapper-9 {
    width: 204px;
    top: 551px;
    position: absolute;
    left: 67px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.category-box .text-wrapper-10 {
    width: 204px;
    top: 606px;
    position: absolute;
    left: 67px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.category-box .img2 {
    width: 37px;
    top: 335px;
    left: 15px;
    position: absolute;
    /* height: 35px; */
    object-fit: cover;
}

.category-box .img3 {
    width: 35px;
    top: 176px;
    left: 17px;
    position: absolute;
    height: 35px;
    object-fit: cover;
}

.category-box .img4 {
    width: 35px;
    top: 123px;
    left: 17px;
    position: absolute;
    height: 35px;
    object-fit: cover;
}

.category-box .img5 {
    width: 35px;
    top: 70px;
    left: 17px;
    position: absolute;
    height: 35px;
    object-fit: cover;
}

.category-box .img6 {
    width: 35px;
    top: 229px;
    left: 17px;
    position: absolute;
    height: 35px;
    object-fit: cover;
}

.category-box .img7 {
    width: 35px;
    top: 282px;
    left: 17px;
    position: absolute;
    height: 35px;
    object-fit: cover;
}

.category-box .img8 {
    width: 35px;
    top: 388px;
    left: 17px;
    position: absolute;
    height: 35px;
    object-fit: cover;
}

.category-box .img9 {
    width: 35px;
    top: 441px;
    left: 17px;
    position: absolute;
    height: 35px;
    object-fit: cover;
}

.category-box .img10 {
    width: 45px;
    top: 494px;
    left: 12px;
    position: absolute;
    object-fit: cover;
}

.category-box .img11 {
    width: 35px;
    top: 547px;
    left: 17px;
    position: absolute;
    height: 35px;
    object-fit: cover;
}

.category-box .img12 {
    width: 35px;
    top: 600px;
    left: 17px;
    position: absolute;
    height: 35px;
    object-fit: cover;
}

/*장바구니 알림*/
.noti-container1 {
    position: fixed;
    z-index: 1300;
    inset: 0px;
}
.product-popip-bg{
    position: fixed;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.noti-container2{
    position: fixed;
    z-index: 2;
    inset: 0px;

}
.noti-container3{
    height: 100%;
    outline: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
}
.noti-paper{
    height: 128px;
    width: 377px;
    overflow-x: hidden;
    padding: 30px;
    border-radius: 12px;
    box-shadow: none;
    background-color: white;
    color: rgba(0, 0, 0, 0.87);
    margin: 32px;
}
.noti-paper-content{
    display: flex;
    padding: 5px 0px 12px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid rgb(244, 244, 244);
    height: 67px;
}
.noti-ok{
    width: 379px;
    height: 42px;
    font-size: 20px;
    background: transparent;
    border: 0px;
    color: #5F0080;
    font-weight: bold;
}

.w2-check-box {
    display: flex;
    flex-display: row;
    height: 30px;
}

.w2-plus{
    /* border-radius: 11px; */
    padding: 5.5px;
    font-weight: bold;
    width: 31px;
    border: solid 1px #D9D9D9;
    border-left: 0px;
    background-color: white;
    font-size: 14px;
    height: 30px;
}
.w2-count{
    background-color: white;
    border-top: solid 1px #D9D9D9;
    border-bottom: solid 1px #D9D9D9;
    border-right: 0px;
    border-left: 0px;
    width: 18px;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    height: 30px
}

.w2-minus{

    padding: 5.5px;
    font-weight: bold;
    width: 31px;
    border: solid 1px #D9D9D9;
    border-right: 0px;
    background-color: white;
    font-size: 14px;
    height: 30px;
}
.cb-h{
    height: 65px;
}
.cb-h:hover {
    background-color: #F7F7F7;
}

.cb-h1{
    height: 52px;
}
.cb-h1:hover {
    background-color: #F7F7F7;
}




/*마켓컬리 폰트 색상*/
.main-color {
    color: #5F0080;
}

.sub-color1{
    color: #D9D9D9;
}

.sub-color2{
    color: #A7A7A7;
}

.discount-color{
    color: #FA622F;
}

.white-color{
    color: white;
}
/*폰트 굵기*/
.font-bold{
    font-weight: bold;
}

/*커서 */
.cur{
    cursor: pointer;
}