
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
div.joinPage {
    display: block;
    position: absolute;
    align-items: center;
    margin-left: 200px;
}
*/
/*확대해도 레이아웃 흐트러지지 않음 position: absolute;*/
/*움직이지 않게함 align-items: center;*/

div.joinPage {
    position: absolute;
    top: 200px; /* 사용자가 원하는 세로 위치 값 */
    left: 50%;
    transform: translateX(-50%);
}



div.join_footer{
   padding-top: 1450px;
}


div.input_data{
    justify-content: center;
    margin-top: 30px;
}




hr { /*구분선*/
    border-top: 1px solid #000000;
    text-align: center;
    margin: 10px auto 0px auto;
    width: 1000px;
}
span.join_title{ /*항목이름*/
    font-size: 16px;
    font-weight: bold;
    margin-left: 210px;
}

.border-color:focus {
    border-color: #D9D9D9;
    outline: none;
}


button.purple{ /*중복확인*/
    background: #FFFFFF;
    color: #5F0080;

    font-size: 15px;

    border-radius: 5px;
    border: 2px solid #5F0080;
    width: 100px;
    height: 44px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    margin-left: 5px;

}

button.gray{ /*인증번호받기*/
    background: #FFFFFF;
    color: #D9D9D9;

    font-size: 15px;

    border-radius: 5px;
    border: 2px solid #D9D9D9;
    width: 100px;
    height: 44px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    margin-left: 5px;

}

input[name="join_id"] { /*아이디*/
    width: 340px;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    display: inline-block;
    margin-top: 30px;
    margin-left: 80px;
    text-indent: 10px;
    font-size: 15px;
}

input[name="join_pw"] { /*비밀번호*/
    width: 340px;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    display: inline-block;
    margin-top: 25px;
    margin-left: 65px;
    text-indent: 10px;
    font-size: 15px;
}

.warning_pw {
    color: red;
    display: inline-block;
    margin-left: 353px;
    font-size: 12px;

}


.warning_pwSame {
    color: green;
    display: inline-block;
    margin-left: 353px;
    font-size: 12px;

}


input[name="repeat_pw"] { /*비밀번호 재확인*/
    width: 340px;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    display: inline-block;
    margin-top: 25px;
    margin-left: 32px;
    text-indent: 10px;
    font-size: 15px;
}

input[name="join_name"] { /*이름*/
    width: 340px;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    display: inline-block;
    margin-top: 25px;
    margin-left: 95px;
    text-indent: 10px;
    font-size: 15px;
}


input[name="join_email"] { /*이메일*/
    width: 340px;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    display: inline-block;
    margin-top: 25px;
    margin-left: 80px;
    text-indent: 10px;
    font-size: 15px;
}

input[name="join_phone"] { /*휴대폰 번호*/
    width: 340px;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    display: inline-block;
    margin-top: 25px;
    margin-left: 80px;
    text-indent: 10px;
    font-size: 15px;

}




input#address-numbers { /*우편번호*/
    width: 340px;
    height: 26px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    display: inline-block;
    margin-top: 25px;
    margin-left: 190px;
    text-indent: 10px;
    font-size: 15px;
}

input#address-roads { /*도로명주소*/
    width: 340px;
    height: 26px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    display: inline-block;
    margin-top: 25px;
    margin-left: 78px;
    text-indent: 10px;
    font-size: 15px;
}

input#address-oldAddress { /*지번주소*/
    width: 340px;
    height: 26px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    display: inline-block;
    margin-top: 5px;
    margin-left: 190px;
    text-indent: 10px;
    font-size: 15px;
    margin-bottom: 15px;
}

input#address-details { /*상세주소*/
    width: 340px;
    height: 26px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    display: inline-block;
    margin-top: 5px;
    margin-left: 78px;
    text-indent: 10px;
    font-size: 15px;
    margin-bottom: 15px;
}

button.address_search { /*주소*/
    background: #FFFFFF;
    color: #5F0080;

    font-size: 15px;

    border-radius: 5px;
    border: 2px solid #5F0080;
    margin: 25px auto 0 95px;
    width: 340px;
    height: 46px;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    font-weight: bold;

    cursor: pointer;
}

img[class="search_mark"] {
    width: 20px; /* 이미지의 너비 조절 */
    height: auto; /* 이미지의 높이 자동 조절 */
    vertical-align: middle; /* 이미지를 텍스트의 가운데에 정렬 */

}


span.text_address {
    margin-left: 353px;
    margin-top: 5px;
    font-size: 14px;
    display: block;
}

input#gender1{
    margin-left: 110px;
    margin-top: 5px;
}

div.GENDER label{
    margin-right: 70px;

}

input[name="birth"] { /*생년월일*/
    width: 340px;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    display: inline-block;
    margin-top: 25px;
    margin-left: 79px;
    text-align: center;
    font-size: 18px;
}

input#other1{
    margin-left: 51px;
    margin-top: 25px;
}

div.OTHER label{
    margin-right: 43px;
}


input[name="agreement"] { /*동의*/
    display: inline-block;
    margin-top: 18px;
    margin-left: 22px;
}

input#gender1, input#gender2, input#gender3, input#other1, input#other2{
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    border-radius: 50%;

}

[type="radio"]:checked { /*라디오버튼 체크 색상 변경*/
    accent-color: #5F0080;
}


input[type="checkbox"] {/*체크박스 디자인변경*/
    opacity: 0; /* 요소를 화면에서 숨김 */
}

input[type="checkbox"] + label::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px solid #000000;
    border-radius: 50%;
    background-color: #FFFFFF;
    cursor: pointer;
    background-image: url("../img/join_checkMark.png");
    background-size: cover;
    margin-right: 5px;
}

/* 체크되었을 때의 스타일 */
input[type="checkbox"]:checked + label::before {
    background-color: #5F0080;
    background-image: url("../img/join_checkMark.png");
    background-size: cover;
}

label[for="agreement1"] { /*전체동의 굵은글씨*/
     font-size: 18px;
     font-weight: bold;
     align-items: center;
     display: inline-block;
 }


span.agreement_text{ /*전체동의 하단 작은안내글씨*/
    font-size: 13px;
    margin-left: 435px;
}

input#agreement1{
    margin-left: 20px;
    margin-top: 40px;
}

input#agreement2, input#agreement3{
    margin-left: 382px;
}

input#agreement5, input#agreement6{
    margin-left: 383px;
}

input#agreement4_1{ /*SMS 이메일 체크박스*/

    margin-left: 410px;
}

input#agreement4{ /*이용약관동의 필수/선택*/

    margin-left: 382px;
    margin-top: 25px;
}

a.join_submit { /*가입하기*/
    background: #5F0080;
    color: #FFFFFF;

    font-size: 18px;

    border-radius: 5px;
    border: 2px solid #5F0080;
    margin-top: 60px;
    margin-left: 370px;
    margin-bottom: 60px;
    width: 250px;
    height: 60px;
    display: block;
    text-align: center;
    line-height: 55px;
    font-weight: bold;
}
