* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input_box {
    list-style-type: none;
}

a {
        text-decoration-line: none;
}

div .find{
    width: 162px;
    height: 16px;

    text-decoration: none;
    color: #000000;
    font-size: 13px;


}

input[name="login_id"] {
    width: 340px;
    height: 54px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 15px;
    text-indent: 20px;
}

input[name="login_pw"] {
    width: 340px;
    height: 54px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    text-indent: 20px;
    font-size: 15px;

}


main a.find_id{
    color: #000000;
    font-size: 13px;
    margin-left: 51%;

}

main a.find_pw{
    color: #000000;
    font-size: 13px;
}

#login_null {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    padding: 65px;
    border: 3px solid #D9D9D9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999; /* 다른 요소 위에 표시되도록 z-index 설정 */

}

#login_error {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    padding: 65px;
    border: 3px solid #D9D9D9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999; /* 다른 요소 위에 표시되도록 z-index 설정 */
}

/*
#login_success {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    padding: 65px;
    border: 3px solid #D9D9D9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999; } /* 다른 요소 위에 표시되도록 z-index 설정 */



main #login_click {
    background: #5F0080;
    color: #FFFFFF;

    border-radius: 5px;
    border: 2px solid #5F0080;
    width: 342px;
    height: 52px;
    display: block;
    text-align: center;
    margin: 40px auto 10px auto;
    font-weight: bold;
    font-size: 16px;

    cursor: pointer;


}
main a.join_click {
    background: #FFFFFF;
    color: #5F0080;

    font-size: 16px;

    border-radius: 5px;
    border: 2px solid #5F0080;
    margin: 0 auto 60px auto;
    width: 340px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    font-weight: bold;


}